body, h1, h2, h3, h4, p, a, ul {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
div {
  border: 1px solid red;

}

a {
  text-decoration: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

                              /* Первая страница header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  left: 64px;
  top: 30px;
  position: absolute;
}

.header__title {
  z-index: 2;
  width: 730px;
  padding-left: 64px;
  line-height: 102px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  z-index: 2;
  width: 388px;
  bottom: 30px;
  left: 64px;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
}

.header__link {
  color: #2f80ed;
  opacity: 1;
}

.header__link:hover {
  opacity: 0.5;
  transition: opacity .5s ease-in-out;
}

.header__main-illustration {
  z-index: 1;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  position: absolute;
  background-image: url(../images/header-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  position: absolute;
  background: #2f80ed;
  animation: rotation 20s linear infinite;
}

                              /* Вторая страница description */

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  margin: 0;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}
                              /* Третья страница techniques */

.techniques {
  padding-bottom: 40px;
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.cards {
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

.cards__item {
  margin-right: 100px;
  margin-bottom: 60px;
  width: 240px;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}


.cards__image {
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  margin-bottom: 43px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
}

                              /* Третья страница video */

.video {
  display: flex;
  flex-direction: column;
}

.video__iframes {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: -40px;
}

.video__iframe {
  border: 0;
  width: 560px;
  height: 315px;
}

.video__iframe:last-of-type {
  margin-left: 20px;
}

                              /* Третья страница oakley */

.oakley {
  padding-top: 160px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

                              /* Третья страница feynman */

.feynman {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
  min-height: 790px;
  margin-bottom: 100px;
}

.feynman__title {
  text-align: center;
  width: 648px;
  margin: 0 auto;
  z-index: 2;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  text-align: center;
  margin: 70px auto 0;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
}

.feynman__link {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  color: #000;
  opacity: 1;
}
.feynman__link:hover {
  opacity: 0.5;
  transition: opacity .9s ease-out;
}

                              /* Третья страница digits */

.digits {
  padding-bottom: 100px;
}

.section-title {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
}

.table {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
}

                             /* Пятая страница khan */

.khan {
  background-color: #F2F2F2;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
}

.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  margin-bottom: 68px;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {

  width: 620px;
  height: 608px;
  margin-right: 20px;
  object-fit: cover;
  object-position: top;
  background-size: cover;
}

.khan__buy-link {
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  height: 100%;
  opacity: 1;
}

.khan__buy-link:hover {
  opacity: 0.6;
  transition: opacity .9s ease-in-out;
}

                              /* Пятая страница kaufman */

.kaufman {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}

.section-title_theme_dark {
  z-index: 1;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  color: #f2f2f2;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-subtitle_theme_dark {
  z-index: 1;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  color: #f2f2f2;
  text-align: center;
  margin: 0 auto;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: #f2f2f2;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
}

.kaufman__triangle {
  animation: rotation 20s linear infinite;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: -210px;
  position: absolute;
  width: 877px;
  height: 877px;
}
                              /* Шестая страница footer */

.resources {
  padding-top: 100px;
}

.resources__logo-zone {
  width: 1100px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 217px;
}

.resources__logo {
  opacity: 1;
  width: 270px;
  height: 38px;
}

.resources__logo:hover {
  opacity: 0.6;
  transition: opacity .6s ease;
}

                              /* Шестая страница footer */

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 18px;
  margin-top: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.footer__column-links {
  margin-bottom: 16px;
  list-style-type: none;
  padding: 0;
}

.footer__links {
  line-height: 30px;
  font-size: 18px;
  color: #f2f2f2;
  opacity: 1;
}

.footer__links:hover {
  opacity: 0.5;
  transition: opacity .9s ease-in-out;
}

.footer__social-icon {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
